:root {
  --primary: #b07b56;
  --dark: #16202b;
  --text: #6e625b;
  --bg: #f7f5f2;
  --white: #ffffff;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: Arial, sans-serif;
}

section {
  padding: 100px 80px;
}


.home {
  padding: 0;
}

.heroImage {
  position: relative;
  width: 100%;
  height: 100vh;
}

.heroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageOverlay {
  position: absolute;
  inset: 0;
  background: rgba(60, 40, 30, 0.45);
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.heroText {
  max-width: 550px;
  color: white;
}

.heroText h1 {
  font-size: 44px;
}

.heroButtons {
  display: flex;
  gap: 12px;
}

.primaryBtn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 12px;
  cursor: pointer;
}

.secondaryBtn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 14px 24px;
  border-radius: 12px;
}


.services {
  background: var(--bg);
}

.sectionTitle {
  text-align: center;
  max-width: 800px;
  margin: auto;
  margin-bottom: 60px;
}

.sectionTitle span {
  color: var(--primary);
  letter-spacing: 3px;
  font-size: 13px;
}

.sectionTitle h2 {
  font-size: 42px;
  margin: 20px 0;
}


.swiper {
  width: 100%;
  padding: 40px 10px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}


.serviceCard {
  background: white;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  max-width: 320px;
}

.serviceCard:hover {
  transform: translateY(-8px);
}

.serviceCard img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.serviceContent {
  padding: 20px;
  text-align: center;
}

.serviceContent h3 {
  font-size: 20px;
}

.serviceContent button {
  background: none;
  border: none;
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}


.appointmentBtn {
  text-align: center;
  margin-top: 40px;
}

.appointmentBtn button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 16px 28px;
  border-radius: 12px;
  cursor: pointer;
}


.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
  background: white;
}

.aboutImage img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 28px;
}

.experienceBox {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: white;
  padding: 18px;
  border-radius: 12px;
}

.aboutContent span {
  color: var(--primary);
  letter-spacing: 3px;
}

.aboutContent h2 {
  font-size: 40px;
  margin: 18px 0;
}

.aboutFeatures {
  display: flex;
  flex-direction: column;
  gap: 20px;
}